body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('images/bg-pattern-desktop.svg');
}


/* Title */
h1 {
  font-weight: 600;
  font-size: 5rem;
  text-align: left;
  letter-spacing: 5px;

}

.title{
  margin: 30% auto 0;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.title-1{
  color: hsl(0, 6%, 24%);
  padding-bottom: 1%;
}

.logo{
  position: absolute;
  margin: 4% auto auto 7%;
}
/* Paragraph */
.text {
  color: hsl(0, 36%, 70%);
  font-size: 16px;
}

/* Mail Box */
.mail{
  display: flex;
  flex-direction: row;
  border:2px solid hsl(0, 36%, 70%);
  border-radius:40px;
  width:50%;
  background-image: linear-gradient(to right, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
  margin-bottom: 4%;

}
.email{
  flex-grow:2;
  border:none;
  padding:25px;
  border-radius:40px;
  background-image: linear-gradient(to right, hsl(0, 0%, 100%),hsl(0, 100%, 98%));

}

.btn{
  border-radius: 40px;
  padding:15px;
  width: 25%;
  height: 70%;
  border: none;
  background-image: linear-gradient(to right, hsl(0, 80%, 86%),hsl(0, 74%, 74%));

}

.left{
  padding-left: 7%;

}
/* Image */
.hero{
  height: auto;
  width: 100%;
}
.right{
  padding: 0;

}
/* Mail Input */
input:invalid{
  color:red;
}

/* Mobile size */
@media (max-width: 700px) {
  .box {
    flex-direction: column;
  }
  .left {
    order: 2;
  }
  .right{
    order: 1;
    margin: 25% 0 auto 0;
  }
  h1{
    text-align: center;
  }
  .text{
    text-align: center;
  }
  .hero-mobile{
    width: 100%;
    height: auto;

}
}
